:root {
  --clickup-color: #7b68ee;
}

a {
  &.clickup-link {
    background: var(--clickup-color) !important;
    color: white;
    padding: 3px 6px;
    margin: 5px;
    border-radius: 2px;

    &:hover {
      background: color-mix(in srgb, var(--clickup-color) 90%, black);
    }
  }

  &.pr-list-me {
    text-decoration: line-through !important;
  }

  &.pr-list-other {
    background: var(--color-attention-subtle);
    color: var(--color-attention-fg) !important;
    padding: 3px;
  }

  &.pr-list-status-approved {
    color: var(--color-btn-primary-bg) !important;
  }

  &.pr-list-status-review {
    color: var(--color-primer-border-active) !important;
  }
}

.clickup-link--detail {
  background-color: var(--clickup-color) !important;

  a {
    color: white;
  }
}
