$clickup-color: #7b68ee;

a.clickup-link {
  // color: $clickup-color !important;
}

.clickup-link--detail {
  background-color: $clickup-color !important;

  a {
    color: white;
  }
}

a.pr-list-me {
  text-decoration: line-through !important;
}

a.pr-list-other {
  background: black;
  color: white;
  padding: 5px;
}

a.pr-list-status-approved {
  color: var(--color-btn-primary-bg) !important;
}

a.pr-list-status-review {
  color: var(--color-primer-border-active) !important;
}
